@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(202, 86%, 94%);
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  justify-content: center;
align-items: stretch;
width: auto;
height: auto;
}

.container {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.calculator-display {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  width: 100%;
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: hsl(202, 55%, 16%);
  font-size: 15px;
}

.clearBtn {
  text-decoration: underline;
  color: hsl(200, 24%, 40%);
  cursor: pointer;
}

/* form */
.cntForm {
  padding: 2.5rem 0rem 0rem 0rem;
}

.fldset {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.row {
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
}

.fldset textarea {
  width: 100%;
  height: 130px;
  border-radius: 6px;
  border: 0px;
  padding: 12px 12px;
  color: #333;
  border: solid 1px #ccc;
  font-size: 14px;
}

.fldset input {
  height: 39px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0px 4px 4px 0px;
  font-size: 16px;
  padding: 0.9rem;
  cursor: pointer;
}

#mortage:-webkit-autofill,
#mortage:-webkit-autofill:hover,
#mortage:-webkit-autofill:focus,
#mortage:-webkit-autofill:active,
#mortageTerm:-webkit-autofill,
#mortageTerm:-webkit-autofill:hover,
#mortageTerm:-webkit-autofill:focus,
#mortageTerm:-webkit-autofill:active,
#InterestAmount:-webkit-autofill,
#InterestAmount:-webkit-autofill:hover,
#InterestAmount:-webkit-autofill:focus,
#InterestAmount:-webkit-autofill:active {
  transition: background-color 999999s ease-in-out 0s;
}

.fldset input:active,
.fldset input:focus {
  border: none;
  outline: none;
}

.row .fldset .mortage-amount:focus-within,
.fldset .mortage-Term:focus-within,
.fldset .Interest-amount:focus-within {
  border: 2px solid hsl(61, 70%, 52%);
}
.fldset .mortage-Type:focus-within{
  border: 1px solid hsl(61deg 88.9% 57.45%);
  background: hsl(61deg 88.9% 57.45% / 8%);
}
/* .radioSelect{
  border: 1px solid hsl(61deg 88.9% 57.45%);
  background: hsl(61deg 88.9% 57.45% / 8%);
}
.custom-radio input[type='radio']:checked {
  border: 1px solid hsl(61deg 88.9% 57.45%);
  background: hsl(61deg 88.9% 57.45% / 8%);
} */
.mortage-Type.active {
  border: 1px solid hsl(61deg 88.9% 57.45%);
  background: hsl(61deg 88.9% 57.45% / 8%);
}
.fldset .mortage-amount:hover,
.mortage-Term:hover,
.Interest-amount:hover {
  border: 1px solid hsl(202, 55%, 16%);
  cursor: pointer;

}

.row .fldset .mortage-amount:focus-within span,
.fldset .mortage-Term:focus-within span,
.fldset .Interest-amount:focus-within span {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
  font-weight: 800;
  cursor: pointer;
}

.fldset label,
p {
  color: hsl(200, 24%, 40%);
  font-size: 14px;
  font-weight: 600;
}

.mortage-amount,
.mortage-Term,
.Interest-amount {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid hsl(200, 26%, 54%);
  border-radius: 4px;
}

.mortage-Type {
  color: hsl(202, 55%, 16%);
  margin-top: 0.5rem;
height: 42px;
border: 1px solid hsl(200, 26%, 54%);
border-radius: 4px;
padding: 0.7rem;
}

.mortage-amount span,
.mortage-Term span,
.Interest-amount span {
  height: 39px;
  background-color: hsl(202, 86%, 94%);
  padding: 0.5rem 1rem;
  border-radius: 1px 0px 0px 1px;
  color: hsl(200, 24%, 40%);
  font-weight: 600;

}

.mortage-Type label {
  color: hsl(202, 55%, 16%);
display: flex;
align-items: center;
justify-content: flex-start;
gap: 0.5rem;
}

.mortage-Term span,
.Interest-amount span {
  border-radius: 0px 1px 1px 0px;
}
/* custom Radio button */
.custom-radio input[type='radio'] {
appearance: none;
width: 15px;
height: 15px;
border: 1px solid hsl(200, 26%, 54%);
border-radius: 50%;
outline: none;
position: relative;
padding: 0.5rem;
}

.custom-radio input[type='radio']:before {
content: '';
display: block;
width: 68%;
height: 65%;
margin: 0.174rem auto;
border-radius: 50%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;

}
.custom-radio input[type='radio']:checked{
background: hsl(61deg 70% 52% / 14%);
border-color: hsl(61, 70%, 52%);
}
.custom-radio input[type='radio']:checked:before {
background: hsl(61, 70%, 52%);
}

/* Submit button */
.calc-btn {
  padding: 0.5rem 1.7rem;
  height: 46px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 109px;
  border: none;
  background: hsl(61, 70%, 52%);
  font-size: 15px;
  color: hsl(202, 55%, 16%);
  font-weight: 600;
  margin-top: 1rem;
  justify-content: center;
}

.calc-btn:hover {
  background: hsl(61deg 100% 80.13%);
  cursor: pointer;
}

.calc-btn img {
  width: 21px;
}

.mortage-Type:hover {
  border: 1px solid hsl(61deg 88.9% 57.45%);
  outline: black;
  cursor: pointer;
}

/* error message display */
.errorMsg {
  font-size: 13px;
  color: hsl(4, 69%, 50%);
  font-weight: 700;
  display: block;
}

.errorBorder {
  border: 2px solid hsl(4, 69%, 50%) !important;
}

.errorSpan {
  background-color: hsl(4, 69%, 50%) !important;
  color: hsl(0, 0%, 100%) !important;
}

/* Result Dsiplay */
.result-display {
  background-color: hsl(202, 55%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.resultScreen1 {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.resultScreen2 {
  display: none;
}

.screenDisplay {
  display: flex;
  flex-direction: column;

}

.resultScreen2 .result-title1 {
  text-align: left;
}

.result-display picture img {
  width: 160px;
}

.result-title1 {
  color: hsl(202, 86%, 94%);
  font-size: 15px;
  text-align: center;
}

.result-title1 p {
  padding: 1rem 1rem 1.6rem 1rem;
  font-size: 15px;
}

.Total-repay {
  color: hsl(202, 86%, 94%);
  padding-top: 0.5rem;
}

.result-title1 h2 {
  padding: 0rem 1rem;
}

.output-result {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-top: 3px solid hsl(61, 70%, 52%);
  border-radius: 9px;
  margin: 0rem 1rem;
  background: hsl(202.94deg 56.67% 11.76%);
}

.monthly-repayments {
  color: hsl(61, 70%, 52%);
  padding-top: 1rem;
  padding-bottom: 1.9rem;
  font-size: 40px;
  border-bottom: 1px solid hsl(202deg 86% 94% / 38%);
  ;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:768px) {
  main {
    flex-direction: row;
  }
  .calculator-display {
    max-width: 412px;
  }
  .calc-btn {
width: 262px;
}
.result-display
{
max-width: 412px;
border-radius: 0px 18px 18px 53px;
}
.container{
    justify-content: center;
}
}